<!--ユーザー情報-->
<%= render 'users/user', user: @user %>


<!--本新規投稿フォーム-->
<%= render 'books/book', book: @book %>


<!--Users項目:ユーザー一覧-->
<table>
    <h1>Users</h1>

    <thead>
        <h4>image</h4>
        <h4>name</h4>
    </thead>
    <tbody>
        <%= @users.each do |user| %>
        <tr>
            <td><%= attachment_image_tag user, :profile_image, :fill, 50, 50, fallback: "no_image.jpg" %></td>
            <td><%= user.name %></td>
            <td><%= link_to "Show", "/users/#{user.id}" %></td>
        </tr>
        <% end %>
    </tbody>
</table>
